:root {
  --color-primary: #fa9427;
}

@font-face {
  font-family: 'Naruto';
  src: url('./assets/fonts/fuenteNaruto.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/img/capahokage.png') center bottom/100vw no-repeat;
  min-height: 100vh;
}
